.navbar-fixed-top, .navOptions {
  background-color: rgb(178, 192, 210);
  height: 100%;
}

.navbar-default .navbar-nav>li>a,
.footnote {
    color: black;
}

.headerNav {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#337ab7+0,5cb85c+100 */
background: rgba(108,142,171,1); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(108,142,171,1) 0%, rgba(92,184,92,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(108,142,171,1) 0%,rgba(92,184,92,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(108,142,171,1) 0%,rgba(92,184,92,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#5cb85c',GradientType=1 ); /* IE6-9 */

}

.clickable:hover {
  color: black;
}

.circular {
  border-radius: 100%;
}

.selections {
  margin-top: 150px;
}

ul {
  list-style: none;
  padding-left: 0;
}

table {
  margin-left:auto;
  margin-right:auto;
}

td,
a {
  cursor: hand;
  cursor: pointer;
}

table, .navbar-fixed-top, button {
  -webkit-box-shadow: 6px 7px 13px -4px rgba(184,184,184,1);
  -moz-box-shadow: 6px 7px 13px -4px rgba(184,184,184,1);
  box-shadow: 6px 7px 13px -4px rgba(184,184,184,1);
}

td {
  border: 1px solid #286090;
  padding: 3px;

}

td.name:hover {
  background-color: #286090;
  color: white;
}

#tableSource {
  margin-top: 100px;
}

#loading, .formSearch {
  display: none;
}

.navOptions {
  text-align: center;
}

#inputAddress {
  width: 100px;
}

.distance {
  color: black;
  font-weight: bold;
}

.btn {
  margin-bottom: 10px;
}

.view {
  margin-bottom: 50px;
}

.loading {
  height: 30px;
  display: inline;
}

.footerImg {
  height: 14px;
}

@media screen and (max-width:540px) {
  .navbar-brand {
    font-size:0.8em;
  }
}
