<div class="container" ng-controller="loginCtrl as login">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <h3 ng-show="!login.loggedIn">Login to edit</h3>
            <form novalidate ng-submit="login.submit()" ng-show="!login.loggedIn">
              <div class="form-group">
                <label for="login">E-mail Address</label>
                <input type="text" id="login" class="form-control" placeholder="E-mail">
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" id="pwd" class="form-control" placeholder="Password">
              </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>

      <div ng-show="login.loggedIn">
        <button ng-click="login.signout()" class="btn btn-danger">Sign-out</button>
        <button ng-click="login.write()" class="btn btn-success">Save changes</button>
        <button ng-click="login.add()" class="btn btn-info circular"><i class="fa fa-plus"></i></button>
        <h5 ng-show="login.loggedIn">( {{ login.locations.length }} facilities )</h5>
      </div>
      <div class="alert alert-danger" id="alert" ng-show="login.error"></div>
    </div>
  </div>

<div ng-show="login.loggedIn">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <input type="text" placeholder="Search" ng-model="login.searchFilter"> Sort by: <a href="" ng-click="login.sortType = 'name'" id="sortName">Name</a><br><br>

      <form ng-show="login.adding">
        <div class="form-group">
          <input ng-model="login.added.name" placeholder="Name" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="login.added.tel" placeholder="Tel" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="login.added.address" placeholder="Address" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="login.added.ins" placeholder="Insurance" ng-required class="form-control">
        </div>
        <div class="form-group">
          <textarea ng-model="login.added.info" placeholder="Info" ng-required class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="number" ng-model="login.added.lat" placeholder="Latitude" ng-required class="form-control">
        </div>
        <div class="form-group">
          <input type="number" ng-model="login.added.long" placeholder="Longitude" ng-required class="form-control">
        </div>
        <button ng-if="login.added.address" ng-click="login.findCoordinates()" class="btn btn-success">Get coordinates</button>
        <button ng-click="login.cancelAdd()" class="btn btn-success circular"><i class="fa fa-times"></i></button>
        <button ng-click="login.okAdd()" class="btn btn-success circular"><i class="fa fa-check"></i></button>
        <div class="alert alert-danger" id="alert" ng-show="login.errorRequire">Error: please fill up all fields</div>
      </form><br>

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-lg-6" ng-repeat="loc in login.locations | orderBy:login.sortType | filter: login.searchFilter">
      <div class="well">
        <ul ng-hide="editing" class="clickable">
          <li>Name : {{ loc.name }}</li>
          <li>Tel : {{ loc.tel }}</li>
          <li>Address : {{ loc.address }}</li>
          <li>Insurance : {{ loc.ins }}</li>
          <li>Info : {{ loc.info }}</li>
          <li>Latitude : {{ loc.lat }}</li>
          <li>Longitude : {{ loc.long }}</li>
        </ul>

        <form ng-submit="editing = false" ng-show="editing">
          <div class="form-group">
            <label>Name : </label>
            <input ng-model="loc.name" placeholder="Name" value="loc.name" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Tel : </label>
            <input ng-model="loc.tel" placeholder="Tel" value="loc.tel" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Address : </label>
            <input ng-model="loc.address" placeholder="Address" value="loc.address" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Insurance : </label>
            <input ng-model="loc.ins" placeholder="Insurance" value="loc.tel" ng-required class="form-control">
          </div>
          <div class="form-group">
            <label>Info : </label>
            <textarea ng-model="loc.info" placeholder="Info" value="loc.info" ng-required class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input ng-model="loc.lat" placeholder="Latitude" value="loc.lat" ng-required class="form-control">
          </div>
          <div class="form-group">
            <input ng-model="loc.long" placeholder="Longitude" value="loc.long" ng-required class="form-control">
          </div>
          <button ng-click="login.delete(loc)" class="btn btn-primary circular"><i class="fa fa-trash"></i></button>
          <button type="submit" class="btn btn-success circular"><i class="fa fa-check"></i></button>
        </form>
          <button ng-click="editing = true" class="btn btn-info circular" ng-show="!editing"><i class="fa fa-pencil"></i></button>
          <br><br>
        </div>
      </div>
    </div>
  </div>
</div>
